## EDA of dpi dataset (application usage data)

Examine data from `dpi` dataset and decide what extra features can we get.

In [1]:
import pandas as pd
import numpy as np
from utils import eda
import plotly.express as px

In [2]:
RANDOM_SEED = 42
TARGET_KEY = "target"

In [3]:
df_train_targets = pd.read_parquet(
    "./data/train_fe/",
    columns=[TARGET_KEY],
)

In [8]:
df_train_dpi = pd.read_parquet("./data/train_dpi")

print(df_train_dpi.info())
df_train_dpi

<class 'pandas.core.frame.DataFrame'>
Index: 7058446 entries, 1525928 to 131296645
Data columns (total 5 columns):
 #   Column               Dtype
---  ------               -----
 0   Application          int16
 1   SUM_of_Duration_sec  float16
 2   SUM_of_Volume_kb     float16
 3   SUM_of_Count_events  float16
 4   MAX_of_day_cnt       float16
dtypes: float16(4), int16(1)
memory usage: 94.2 MB
None

,Application,SUM_of_Duration_sec,SUM_of_Volume_kb,SUM_of_Count_events,MAX_of_day_cnt
abon_id,,,,,
1525928,115,45.375000,109.500000,27.015625,3.0
1525928,175,41.125000,54.187500,14.421875,5.0
1525928,240,103.750000,144.125000,59.968750,16.0
1525928,246,18.296875,1.418945,1.480469,1.0
1525928,254,57.656250,74.750000,28.531250,19.0
...,...,...,...,...,...
131296645,1127,15.984375,5.457031,1.480469,1.0
131296645,1353,1.480469,5.886719,1.480469,1.0
131296645,1373,25.484375,21.109375,4.785156,2.0
131296645,1462,20.203125,85.500000,9.671875,1.0
131296645,2046,29.890625,61.718750,26.500000,3.0

In [9]:
eda.print_missing(df_train_dpi)

Missing values report:
No missing values found!

Empty DataFrame
Columns: [Total, Rate]
Index: []

In [10]:
df_train_dpi["abon_id"] = df_train_dpi.index
eda.print_uniq(df_train_dpi)

Unique values report:
                       uniq      rate
MAX_of_day_cnt           30  0.000004
Application             751  0.000106
SUM_of_Count_events    2843  0.000403
SUM_of_Duration_sec    3378  0.000479
SUM_of_Volume_kb       6877  0.000974
abon_id              119799  0.016972
Total rows: 7058446